.cart-items {
    background: #f6f9fc;
    height: auto;
    padding: 50px 0;
    min-height: 500px;
}

.cart-items .cart-details {
    width: 70%;
}

.cart-items .cart-total {
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
    height: fit-content;
}
.cart-list {
    background: white;
    margin-top: 30px;
}
.cart-items .img {
    width: 150px;
    height: 150px;
}
.cart-items img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cart-items .cart-details h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}
.cart-items .cart-details h4 {
    font-size: 16px;
    font-weight: 400;
    color: grey;
}
.cart-items h4 span {
    color: #e94560;
    margin-left: 20px;
    font-weight: 500;
}
.removeCart {
    background: none;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
}
.cartControl {
    margin-top: 50px;
}
.cartControl button {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
}
.incCart {
    background: none;
    border: 1px solid rgb(3 0 71 / 9%);
    color: #e94560;
}
.desCart {
    background: #f6f9fc;
}
.cart-total h4 {
    font-size: 16px;
    font-weight: 400;
}
.cart-total h3 {
    font-size: 20px;
    font-weight: 500;
    color: #e94560;
}
.cart-total h2 {
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(3 0 71 / 9%);
    padding-bottom: 10px;
    color: #e94560;
}
.no-items {
    color: #e94560;
    font-size: 18px;
    margin-top: 30px;
    height: 130px;
}

.address {
    display: flex;
}

.address > div {
    flex-grow: 1;
}

.address .address__tool {
    text-align: right;
}

.address .address__tool .change {
    color: #08f;
    padding: 4px;
    cursor: pointer;
}

.box__price {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.box__price > .box__price__label {
    color: rgb(125, 135, 156);
}

.voucher .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 8px 12px;
    color: rgb(43, 52, 69);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
}

.cart-total__box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(246, 249, 252);
    padding: 10px 0;
    margin-bottom: 10px;
    flex-direction: column;
}
